    {% if site.footer_fixed %}
    <footer class="fixed-bottom">
      <div class="container mt-0">
        &copy; Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}. {{ site.footer_text }}
        {%- if site.impressum_path -%}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
        {%- endif -%}
        {%- if site.last_updated -%}
        Last updated: {{ "now" | date: '%B %d, %Y' }}.
        {%- endif %}
      </div>
    </footer>
    {%- else -%}
    <footer class="sticky-bottom mt-5">
      <div class="container">
        &copy; Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}. {{ site.footer_text }}
        {%- if site.impressum_path -%}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
        {%- endif -%}
        {%- if site.last_updated -%}
        Last updated: {{ "now" | date: '%B %d, %Y' }}.
        {%- endif %}
      </div>
    </footer>
    {%- endif %}

    <script>var scroll = new SmoothScroll('a[href*="#"]', {speed: 1500});
    
    let list = document.querySelectorAll('.experience li a');

    const steps = 100;
    const amp = .3;
    const dt = 20;

    Array.prototype.forEach.call(list, function(link) {
        link.addEventListener('click', function(e) {
            if (!link.hasAttribute('data-clicked')) {
                let el = document.getElementById(link.href.split('#')[1]).parentElement;
                link.setAttribute('data-clicked', '');

                for (let i = 0; i <= steps; i++) {
                    setTimeout(function() {
                        let val = Math.abs(amp * Math.sin(i * Math.PI / steps));
                        let baseColor = window.getComputedStyle(el).getPropertyValue('color').slice(0, -1);
                        el.style = `background-color: ${baseColor}, ${val})`;
                        el.parentElement.nextSibling.nextSibling.style = `background-color: ${baseColor}, ${val})`;
                    }, dt * i);
                }

                setTimeout(function() { link.removeAttribute('data-clicked'); }, dt * steps);
            }
        });
    });
    </script>