<div class="projects"><h2>project spotlight</h2>
	<div class="table-responsive">
	  <table class="table table-sm table-borderless">
	  	{%- assign sorted_projects = site.projects | sort: "importance" %}
	  	{%- for project in sorted_projects %}
	  	{% if project.selected %}
	    <tr>
	      <td>
	      <span id='emoji-{{ project.emoji }}' style="position:relative; top:-5em"></span>:{{ project.emoji }}:{{ project.special-title | downcase }}
		  </td>
	    </tr>

	    <tr> <td>{{ project.spotlight }}</td> </tr>
	  {% endif %}
	  {%- endfor %} 
	  </table>
	</div>
</div>
